import java.nio.file.Paths

singularity {
	enabled = true
	runOptions = "-B /camp"
}

process {


	publish_mode = "copy"
	publish_overwrite = true

	executor = "local"
	cpus = 2
	memory = "60G"
	time = "12:00:00"

	publishDir = [
		path: { Paths.get( params.out_dir ) },
		mode: publish_mode,
		overwrite: publish_overwrite
	]

	withLabel: gpu {

		module = "CUDA/10.1.105"
		module = "GCCcore/8.2.0"

		executor = "slurm"
		clusterOptions = "--partition=gpu --gres=gpu:1"
		memory = "60G"
	}

	withLabel: python {

		container = "/camp/stp/babs/working/bahn/projects/rodriquess/sam.rodriques/032_spatial_transcriptomics/analysis/assets/containers/general/general.sif"

	}
}
